[VERSION]
major=1
minor=0

[GENERAL]
atc_type="TT:ATCCOM.ATC_NAME BOEING.0.text"
atc_model="TT:ATCCOM.AC_MODEL_B772.0.text"
Category="airplane"
performance="Cruise Speed\n0.84 Mach         482 mph         892 km\/h\n\nEngine options\nGeneral Electric GE90\n\nMaximum Range\n7,065 nm         13,080 km\n\nMaximum Certified Operating Altitude              43,100 ft          13,100 m\n\nFuel Capacity\n45,220 gal       171,171 L\n\nBasic Empty Weight\n304,500 lb    138,100 kg\n\nMax Gross Weight                        656,000 lb       297,550 kg\n\nLength\n209 ft, 1 in       63.73 m\n\nWingspan\n199 ft, 11 in         60.93 m\n\nHeight\n60 ft, 9 in         18.5 m\n\nSeating Typical 3-class configuration - 305 (24F/54J/227Y)\nTypical 2-class configuration - 313"
editable=0
wip_indicator=2
icao_type_designator="B772"
icao_manufacturer="BOEING"
icao_model="777-200"
icao_engine_type="Jet"
icao_engine_count=2
icao_WTC="H"

[PILOT]
pilot="Pilot_Male_Uniform"
copilot="Pilot_Male_Uniform"
instructor="Pilot_Male_Casual"
pilot_default_animation="Idle1_PoseAirliner"
copilot_default_animation="Idle2_PoseAirliner"
pilot_attach_node="PILOT_0"
copilot_attach_node="PILOT_1"

[SERVICES]
FUELTRUCK=1
BAGGAGE_LOADER=1
CATERING_TRUCK=1
BOARDING_RAMP=1
GROUND_POWER_UNIT=1
PUSHBACK=1
SMALL_PUSHBACK=0
MARSHALLER=1
JETWAY=1

[EFFECTS]
wake=fx_wake
water=fx_spray
dirt=FX_ASOBO_TOUCHDIRT_BIG
concrete=FX_ASOBO_TOUCHCONCRETE_BIG
touchdown=FX_ASOBO_TouchDown_Big, 1
effect.0=L1_EngineFX#(A:GENERAL ENG COMBUSTION:1, boolean)#FX_ASOBO_HEAT_BIG
effect.1=L2_EngineFX#(A:GENERAL ENG COMBUSTION:2, boolean)#FX_ASOBO_HEAT_BIG
effect.2=R1_EngineFX#(A:GENERAL ENG COMBUSTION:3, boolean)#FX_ASOBO_HEAT_BIG
effect.3=R2_EngineFX#(A:GENERAL ENG COMBUSTION:4, boolean)#FX_ASOBO_HEAT_BIG

[LOADING]
ImageName=LOADING_FREEFLIGHT
Tips0=TT:LOADING.TIPS.CS_B777_200ER_001
Tips1=TT:LOADING.TIPS.CS_B777_200ER_002
Tips2=TT:LOADING.TIPS.CS_B777_200ER_003
Tips3=TT:LOADING.TIPS.CS_B777_200ER_004

;===================== FLTSIM =====================

[FLTSIM.0]
title=Boeing 777-200ER Captain Sim House 2021 ; Variation name
model= ; model folder
panel= ; panel folder
sound= ; sound folder
texture=CS.2021 ; texture folder
kb_checklists=checklist ; Procedures/Checklist sibling file name
kb_reference=Boeing747-400_ref ; Reference information sibling file name
description=TT:AIRCRAFT.DESCRIPTION ; Variation description.
wip_indicator=2 ; know if the variation is good to go or still WIP : -1=Disabled, 0=Rough, 1=1st Pass, 2=Finished
ui_manufacturer=Boeing ; e.g. Boeing, Cessna
ui_type=777-200ER GE90B ; e.g. 747-400, 172
ui_variation=Captain Sim House 2021 ; e.g. World Air, IFR Panel
ui_typerole=Commercial Airliner ; e.g. Single Engine Prop, Twin Engine Prop, Rotorcraft, etc
ui_createdby=Captain Sim ; e.g. Asobo Studio, Microsoft, FSAddonCompany, etc
ui_thumbnailfile= ; app relative path to ThumbNail image file
ui_certified_ceiling=43100 ; service ceiling / max certified operating altitude (ft)
ui_max_range=7065 ; max distance the aircraft can fly between take-off and landing in (NM)
ui_autonomy=15 ; max duration the aircraft can fly between take-off and landing in (Hrs)
ui_fuel_burn_rate=21160 ; average fuel consumption per hour (lbs/hr) - reminder: fuel density is ~6.7lbs per US gallon
atc_id=CSM772 ; tail number
atc_id_enable=1 ; enable tail number
atc_airline=CAPTAINSIM ; airline name
atc_flight_number=CS777 ; flight number
atc_heavy=1 ; heavy?
atc_parking_types=GATE,RAMP,CARGO ; ANY / RAMP / CARGO / MIL_CARGO / MIL_COMBAT / GATE / DOCK
atc_parking_codes= ; Comma separated and may be as small as one character each
atc_id_color= ; color for the tail number : i.e. #ffff00ff
atc_id_font= ; font for the tail number
isAirTraffic=0 ; Is the plane usable for air traffic
isUserSelectable=1 ; Is the plane selectable by the user
ui_ants=2047

[FLTSIM.1]
title=Boeing 777-200ER Air France F-GSPI
model=
panel=
sound=
texture=1
kb_checklists=checklist
kb_reference=Boeing747-400_ref
description=TT:AIRCRAFT.DESCRIPTION
ui_manufacturer=Boeing
ui_type=777-200ER GE90B
ui_variation=Air France F-GSPI
ui_typerole=Commercial Airliner
ui_createdby=Captain Sim
ui_thumbnailfile=
ui_certified_ceiling=43100
ui_max_range=7065
ui_autonomy=15
ui_fuel_burn_rate=21160
isAirTraffic=0
isUserSelectable=1
wip_indicator=2
atc_id_enable=1
atc_parking_codes=
atc_id_color=
atc_id_font=
atc_id=FGSPI
atc_airline=Air France
atc_flight_number=AF777
atc_heavy=1
atc_parking_types=GATE,RAMP,CARGO
ui_ants=2047

[FLTSIM.2]
title=Boeing 777-200ER British Airways G-VIIT
model=
panel=
sound=
texture=2
kb_checklists=checklist
kb_reference=Boeing747-400_ref
description=TT:AIRCRAFT.DESCRIPTION
ui_manufacturer=Boeing
ui_type=777-200ER GE90B
ui_variation=British Airways G-VIIT
ui_typerole=Commercial Airliner
ui_createdby=Captain Sim
ui_thumbnailfile=
ui_certified_ceiling=43100
ui_max_range=7065
ui_autonomy=15
ui_fuel_burn_rate=21160
isAirTraffic=0
isUserSelectable=1
wip_indicator=2
atc_id_enable=1
atc_parking_codes=
atc_id_color=
atc_id_font=
atc_id=GVIIT
atc_airline=British Airways
atc_flight_number=BA777
atc_heavy=1
atc_parking_types=GATE,RAMP,CARGO
ui_ants=2047

[FLTSIM.3]
title=Boeing 777-200ER Japan Airlines JA708J
model=
panel=
sound=
texture=3
kb_checklists=checklist
kb_reference=Boeing747-400_ref
description=TT:AIRCRAFT.DESCRIPTION
ui_manufacturer=Boeing
ui_type=777-200ER GE90B
ui_variation=Japan Airlines JA708J
ui_typerole=Commercial Airliner
ui_createdby=Captain Sim
ui_thumbnailfile=
ui_certified_ceiling=43100
ui_max_range=7065
ui_autonomy=15
ui_fuel_burn_rate=21160
isAirTraffic=0
isUserSelectable=1
wip_indicator=2
atc_id_enable=1
atc_parking_codes=
atc_id_color=
atc_id_font=
atc_id=JA708J
atc_airline=Japan Airlines
atc_flight_number=JAL777
atc_heavy=1
atc_parking_types=GATE,RAMP,CARGO
ui_ants=2047

[FLTSIM.4]
title=Boeing 777-200ER KLM PH-BQF
model=
panel=
sound=
texture=4
kb_checklists=checklist
kb_reference=Boeing747-400_ref
description=TT:AIRCRAFT.DESCRIPTION
ui_manufacturer=Boeing
ui_type=777-200ER GE90B
ui_variation=KLM PH-BQF
ui_typerole=Commercial Airliner
ui_createdby=Captain Sim
ui_thumbnailfile=
ui_certified_ceiling=43100
ui_max_range=7065
ui_autonomy=15
ui_fuel_burn_rate=21160
isAirTraffic=0
isUserSelectable=1
wip_indicator=2
atc_id_enable=1
atc_parking_codes=
atc_id_color=
atc_id_font=
atc_id=PHBQF
atc_airline=KLM
atc_flight_number=KLM777
atc_heavy=1
atc_parking_types=GATE,RAMP,CARGO
ui_ants=2047

[FLTSIM.5]
title=Boeing 777-200ER Singapore Airlines 9VSRI
model=
panel=
sound=
texture=5
kb_checklists=checklist
kb_reference=Boeing747-400_ref
description=TT:AIRCRAFT.DESCRIPTION
ui_manufacturer=Boeing
ui_type=777-200ER GE90B
ui_variation=Singapore 9VSRI
ui_typerole=Commercial Airliner
ui_createdby=Captain Sim
ui_thumbnailfile=
ui_certified_ceiling=43100
ui_max_range=7065
ui_autonomy=15
ui_fuel_burn_rate=21160
isAirTraffic=0
isUserSelectable=1
wip_indicator=2
atc_id_enable=1
atc_parking_codes=
atc_id_color=
atc_id_font=
atc_id=PHBQF
atc_airline=Singapore
atc_flight_number=SAL777
atc_heavy=1
atc_parking_types=GATE,RAMP,CARGO
ui_ants=2047

[FLTSIM.6]
title=Boeing 777-200ER United Airlines N78009
model=
panel=
sound=
texture=6
kb_checklists=checklist
kb_reference=Boeing747-400_ref
description=TT:AIRCRAFT.DESCRIPTION
ui_manufacturer=Boeing
ui_type=777-200ER GE90B
ui_variation=United N78009
ui_typerole=Commercial Airliner
ui_createdby=Captain Sim
ui_thumbnailfile=
ui_certified_ceiling=43100
ui_max_range=7065
ui_autonomy=15
ui_fuel_burn_rate=21160
isAirTraffic=0
isUserSelectable=1
wip_indicator=2
atc_id_enable=1
atc_parking_codes=
atc_id_color=
atc_id_font=
atc_id=PHBQF
atc_airline=United
atc_flight_number=N78009
atc_heavy=1
atc_parking_types=GATE,RAMP,CARGO
ui_ants=2047

[FLTSIM.7]
title=Boeing 777-200ER Delta N702DN
model=
panel=
sound=
texture=7
kb_checklists=checklist
kb_reference=Boeing747-400_ref
description=TT:AIRCRAFT.DESCRIPTION
ui_manufacturer=Boeing
ui_type=777-200ER GE90B
ui_variation=Delta N702DN
ui_typerole=Commercial Airliner
ui_createdby=Captain Sim
ui_thumbnailfile=
ui_certified_ceiling=43100
ui_max_range=7065
ui_autonomy=15
ui_fuel_burn_rate=21160
isAirTraffic=0
isUserSelectable=1
wip_indicator=2
atc_id_enable=1
atc_parking_codes=
atc_id_color=
atc_id_font=
atc_id=N702DN
atc_airline=Delta
atc_flight_number=CS777
atc_heavy=1
atc_parking_types=GATE,RAMP,CARGO
ui_ants=2047

[FLTSIM.8]
title=Boeing 777-200ER Emirates A6-EWA
model=
panel=
sound=
texture=8
kb_checklists=checklist
kb_reference=Boeing747-400_ref
description=TT:AIRCRAFT.DESCRIPTION
ui_manufacturer=Boeing
ui_type=777-200ER GE90B
ui_variation=Emirates A6-EWA
ui_typerole=Commercial Airliner
ui_createdby=Captain Sim
ui_thumbnailfile=
ui_certified_ceiling=43100
ui_max_range=7065
ui_autonomy=15
ui_fuel_burn_rate=21160
isAirTraffic=0
isUserSelectable=1
wip_indicator=2
atc_id_enable=1
atc_parking_codes=
atc_id_color=
atc_id_font=
atc_id=A6-EWA
atc_airline=Emirates
atc_flight_number=777
atc_heavy=1
atc_parking_types=GATE,RAMP,CARGO
ui_ants=2047

[FLTSIM.9]
title=Boeing 777-200ER Air Canada C-FUIA
model=
panel=
sound=
texture=9
kb_checklists=checklist
kb_reference=Boeing747-400_ref
description=TT:AIRCRAFT.DESCRIPTION
ui_manufacturer=Boeing
ui_type=777-200ER GE90B
ui_variation=Air Canada C-FUIA
ui_typerole=Commercial Airliner
ui_createdby=Captain Sim
ui_thumbnailfile=
ui_certified_ceiling=43100
ui_max_range=7065
ui_autonomy=15
ui_fuel_burn_rate=21160
isAirTraffic=0
isUserSelectable=1
wip_indicator=2
atc_id_enable=1
atc_parking_codes=
atc_id_color=
atc_id_font=
atc_id=C-FUIA
atc_airline=Air Canada
atc_flight_number=CS777
atc_heavy=1
atc_parking_types=GATE,RAMP,CARGO
ui_ants=2047

[FLTSIM.10]
title=Boeing 777-200ER Korean Air HL7526
model=
panel=
sound=
texture=10
kb_checklists=checklist
kb_reference=Boeing747-400_ref
description=TT:AIRCRAFT.DESCRIPTION
ui_manufacturer=Boeing
ui_type=777-200ER GE90B
ui_variation=Korean Air HL7526
ui_typerole=Commercial Airliner
ui_createdby=Captain Sim
ui_thumbnailfile=
ui_certified_ceiling=43100
ui_max_range=7065
ui_autonomy=15
ui_fuel_burn_rate=21160
isAirTraffic=0
isUserSelectable=1
wip_indicator=2
atc_id_enable=1
atc_parking_codes=
atc_id_color=
atc_id_font=
atc_id=HL7526
atc_airline=Korean Air
atc_flight_number=CS777
atc_heavy=1
atc_parking_types=GATE,RAMP,CARGO
ui_ants=2047