:root {
  --eicasWhite: white;
  --eicasBlack: black;
  --eicasGrey: #c8c8c8;
  --eicasBlue: cyan;
  --eicasGreen: lime;
  --eicasOrange: #db7200;
  --eicasRed: red;
  --eicasMagenta: #D570FF; }
  :root text {
    font-family: "BoeingEFIS"; }

@font-face {
  font-family: "BoeingEFIS";
  src: url("/Fonts/BoeingEFIS.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
b777-lower-eicas-gear {
position: relative;
left: 3.5%;
width: 95.5%;
top: 4.25%;
height: 88%;
display: block; }
b777-lower-eicas-gear #fixed-elements {
  stroke: var(--eicasBlue);
  stroke-width: 2; 
  fill-opacity: 0; }
b777-lower-eicas-gear #closed-elements {
  stroke: var(--eicasWhite);
  fill-opacity: 0; }    
b777-lower-eicas-gear #cyan-elements {
  stroke: var(--eicasBlue);
  fill: var(--eicasBlue); }  
b777-lower-eicas-gear #closed-labels {
  stroke-width: 0;  
  fill: var(--eicasWhite);
  fill-opacity: 100;
  stroke: var(--eicasWhite); }
b777-lower-eicas-gear #open-labels {
  stroke: var(--eicasWhite);
  stroke-width: 0; 
  fill-opacity: 0; }  
b777-lower-eicas-gear #braketemp-labels {
  fill: var(--eicasWhite);
  fill-opacity: 100;
  stroke: var(--eicasWhite); }
b777-lower-eicas-gear #tirepress-labels {
  fill: var(--eicasWhite);
  fill-opacity: 100;
  stroke: var(--eicasWhite); }
b777-lower-eicas-gear svg {
  width: 100%;
  height: 100%; }
b777-lower-eicas-gear text {
  fill: var(--eicaswhite);
  stroke-width: 0; 
  font-size: 17px; } 
